@font-face {
  font-family: "OleoScript";
  src: url(../fonts/OleoScript-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OleoScript";
}
a {
  text-decoration: none;
}
header {
  background-color: #9d0208;
  color: #ffba08;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo {
  width: 50px;
}
.logo img {
  width: 100%;
}
nav {
  width: 200px;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}
nav a {
  color: #ffba08;
  font-weight: 800;
}
h1 {
  font-size: 35px;
  text-align: center;
  color: #ffba08;
  text-transform: capitalize;
}
.orderbox {
  /* background-color: yellow; */
  width: 80%;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid #f48c06; */
  padding: 10px;
  position: relative;
  box-shadow: 0 4px 6px #f48c06;
}
.orderBox-img {
  width: 30%;
}
.orderBox-img img {
  width: 100%;
}
.orderBox-form {
  width: 50%;
  /* background-color: aqua; */
}
#order-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
#order-form input {
  display: inline-block;
  width: 100%;
  outline: none;
  /* height: 50px; */
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid #9d0208;
  padding: 10px;
}
#order-form h2 {
  text-align: center;
  color: #6a040f;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#mealPreview {
  /* background-color: #9d0208; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
}
.upload-label {
  padding: 10px 20px;
  background: #03071e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 250px;
  transition: all 0.5s;
}
.upload-label:hover {
  background: #ff4500;
}
#place-order-btn {
  background: linear-gradient(135deg, #ff7f50, #ff4500);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#place-order-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
#userOrder-list {
  /* background-color: aqua; */
  height: 350px;
  width: 70%;
  margin: 100px auto 10px auto;
  box-shadow: 0 6px 12px #03071e;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #6a040f;
  color: #ffba08;
}

tr:hover {
  background-color: #f9f9f9;
}

#clearOrders {
  background: linear-gradient(135deg, #9d0208, #dc2f02);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 0 auto 50px auto;
  width: 200px;
  display: block;
}

#clearOrders:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px #f48c06;
}
footer {
  width: 100%;
  background-color: #03071e;
  color: #ddd;
  text-align: center;
  letter-spacing: 5px;
  height: 50px;
  line-height: 50px;
}

/* Menu style*/
.menu {
  margin-right: auto;
  border-radius: 20px;
  display: flex;
}
.menu-item {
  background-color: #f48c06;
  height: 600px;
  width: 20%;
  /* border-radius: 30px; */
  border: 2px solid #03071e;
  text-align: center;
}
.menu-item h2 {
  letter-spacing: 6px;
  padding: 5px;
  margin: 5px 0;
  color: #f9f9f9;
}
.menu-img {
  width: 50%;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  text-align: center;
  margin: 20px auto;
}
.menu-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 6px #dc2f02;
  cursor: pointer;
  transform: all 0.5s;
}
.menu-img img:hover {
  box-shadow: 0 4px 6px #03071e;
}
.meals-menu {
  /* background-color: #ffba08; */
  margin-left: auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  flex-wrap: wrap;
}
.menu-details {
  /* background-color: aqua; */
  width: 20%;
  height: 320px;
  text-align: center;
  padding: 10px;
}
.meal-img {
  width: 100%;
  margin: 0 auto;
}
.meal-img img {
  width: 100%;
  /* border: 2px solid #f48c06; */
  border-radius: 5px 95px 0 139px;
  box-shadow: 0 4px 6px #f48c06;
  cursor: pointer;
  transition: border 0.5s;
}
.meal-img img:hover {
  border: 2px solid #f48c06;
}
.meal-info {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 18px;
}
.line {
  width: 105%;
  background-color: #9d0208;
  height: 2px;
  margin-top: 25px;
}
.meal-info .menu-name {
  font-weight: 800;
}
